@import '../../utils/variables'

.navigation
  //position: fixed
  //left: 0
  //top: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  width: 30vw
  background: white
  box-shadow: $box-shadow
  ul
    margin: 0
    padding: 0
    list-style-type: none